html, body {
    height: 100%;
  }
html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
  }
body {
    max-width: 500px;
    margin: 0 auto;
}
.content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size:40px;
    border: 0;
}
input:focus {
    outline: none;
}
li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}
.container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 10em;
}
footer  {
    border: 5px solid rgb(94, 9, 9);
  }
  .remove {
      padding-bottom: 5px;
  }